html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.UserMenu {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Avatar {
  margin-right: 8px;
  border-radius: 50%;
}

.UserName {
  font-size: 24px;
  user-select: none;
}

.Dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.Header {
  display: flex;
  align-items: center;
  padding: 8px 32px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.Header__logo {
  margin-right: 16px;
}

.Header__usermenu {
  margin-left: auto;
}

.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalWindow {
  max-width: 600px;
  min-height: 300px;
  background-color: #fff;
  padding: 16px;
}
